@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Poetsen+One&display=swap');

* {
    padding: 0;
    margin: 0;
}

nav {
    position: fixed;
    left: 0;
    right: 0;
    padding: 0;
    /* height: 60px; */
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* padding: 0 60px 0 30px; */
    /* background-color: rgb(206, 153, 21); */
}

.occupy {
    height: 78px;
}

.nav-logo {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    background-color: whitesmoke;
}

.logo-text {
    text-transform: uppercase;
    letter-spacing: 3px;
}

.text-happy {
    color: rgb(15, 15, 15);
    margin-right: 5px;
    letter-spacing: 3px;
}

.text-builders {
    color: brown;
}

.nav-tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 40px;
    background-color: rgb(8, 8, 100);
}

.nav-tab {
    height: 100%;
    display: flex;
    align-items: center;
    color: rgb(172, 171, 171);
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 4px;
    padding: 0 30px;
}

.home-tab {
    background-color: maroon;
    color: white;
}

.nav-tab:hover {
    background-color: maroon;
    color: white;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.desc {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: center; */
    
    /* background-attachment: fixed; */
}

.desc-img-con {
    width: 60%;
    height: 100%;
    background-image: url(/images/housebuilding-3102324_1280.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 1cap solid grey;
}

.desc-info-con {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.8);
}

.desc-text-heading {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600;
    /* background-color: rgba(0, 0, 0, 0.5); */
    border-radius:  5px;
    /* color: rgb(241, 218, 10); */
    color: maroon;
    padding: 0 10px;
    letter-spacing: 5px;
    margin-bottom: 5px;
}

.desc-head-text {
    font-size: 35px;
    letter-spacing: 15px;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: sans-serif;
    color: rgb(252, 232, 58);
    /* margin-bottom: 70px; */
}

.happy-text {
    color: rgb(243, 248, 247);
}

.desc-info-text {
    width: 50%;
    margin-top: 30px;
    color: aliceblue;
    line-height: 22px;
    text-align: center;
}

.qoute-btn {
    padding: 20px 25px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #ff8;
    border-radius: 3px;
    letter-spacing: 4px;
    text-transform: capitalize;
    border: 2px solid black;
    font-weight: bold;
    font-size: 16px;
    margin-top: 70px;
}

.qoute-btn:hover {
    background-color: black;
    color: #ff1;
}

.about-contents {
    display: flex;
    flex-direction: row;
}

.about-content {
    /* height: 100%; */
    border-top: 1cap solid grey ;
    /* align-items: center; */
}

.about-info {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1cap solid grey ;
    padding-left: 50px;
}

.about-qoute {
    width: 30%;
    
}

.about-info-head {
    text-transform: capitalize;
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.about-info-text {
    width: 90%;
    letter-spacing: 4px;
    margin-top: 35px;
    margin-bottom: 80px;
    line-height: 30px;
}

.about-info-btn-con {
    width: 90%;
    display: flex;
    /* justify-content: flex-end; */
}

.about-info-btn {
    padding: 15px 20px;
    background-color: rgb(0, 51, 128);
    border: 0;
    letter-spacing: 4px;
    color: white;
    border-radius: 3px;
}

.about-info-btn:hover {
    background-color: blue;
}

.qoute-header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: goldenrod;
    margin-bottom: 40px;
}

.qoute-header-text {
    color: aliceblue;
    font-size: 20px;
    letter-spacing: 4px;
    text-transform: capitalize;
}

.qoute-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qoute-form-input {
    width: 70%;
    height: 40px;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom: 1px solid grey;
    padding-left: 5px;
    padding-right: 5px;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 45px;
}

.qoute-form-btn {
    width: 70%;
    height: 45px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: goldenrod;
    letter-spacing: 4px;
    color: white;
    margin-top: 150x;
    margin-bottom: 30px;
}

.qoute-form-btn:hover {
    background-color: rgb(161, 138, 4);
}

.areas-con {
    border-top: 1cap solid grey;
    padding-top: 50px;
}

.areas {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.area {
    width: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.area-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 70px;
    border-radius: 80px;
    background-color: goldenrod;
}

.area-title {
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: capitalize;
    font-size: 13px;
    text-align: center;
}

.area-desc {
    text-align: center;
    letter-spacing: 2px;
    font-size: 12px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.7);
}

.area-banners {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.area-banner {
    display: flex;
    width: 260px;
    height: 180px;
    justify-content: space-evenly;
    align-items: center;
}

.area-banner-image {
    width: 70px;
    height: 100px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.banner-icon {
    font-size: 30px;
}

.area-banner-icon {
    font-size: 30px;
    color: rgb(71, 31, 31);
}
.banner-icon-support {
    font-size: 30px;
    color: aliceblue;
}

.area-banner-info {
    width: 160px;
}

.area-banner-title {
    letter-spacing: 2px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
}

.area-banner-desc {
    letter-spacing: 2px;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
}

.area-banner-1 {
    background-color: rgba(0, 0, 0, 0.05);
}

.area-banner-2 {
    background-color: goldenrod;
}

.area-banner-3 {
    background-color: navy;
}

.text-white {
    color: white;
}

.text-grey {
    color: rgba(255, 255, 255, 0.7);
}
.text-dark-grey {
    color: rgba(0, 0, 0, 0.7);
}

.records {
    display: flex;
    border-top: 1cap solid grey;
    margin-top: 50px;
}

.record {
    width: 50%;
    height: 100px;
    display: flex;
}

.record-1 {
    justify-content: flex-end;
    background-color: transparent;
}

.record-2 {
    justify-content: flex-start;
    background-color: goldenrod;
}